NODE_ENV=development
PORT=3000

# Connection string de Postgres (ajusta host/puerto/db/usuario/pass)
DATABASE_URL=postgres://postgres:1234@localhost:5432/crm_frigorifico

# JWT
JWT_SECRET=super-secreto-123
JWT_EXPIRES_IN=1d
